<% stylesheets('subjects') %>
<%= render 'subjects/subsearch' %>

<% if @subjects.length > 0 %>
<table id='subjects'><thead><tr>
<th><%= sort_link('ChildID') %></th>
<th><%= sort_link('StudyID') %></th>
<th><%= sort_link('Last Name') %></th>
<th><%= sort_link('First Name') %></th>
<th><%= sort_link(:interview_outcome_on,'Interview Completed') %></th>
<th><%= sort_link('Sample Outcome') %></th>
<th><%= sort_link(:sample_outcome_on,'Sample Outcome Date') %></th>
<!--
<th><%#= sort_link(:sent_to_subject_on,'Sent On') %></th>
<th><%#= sort_link(:received_by_ccls_on,'Received On') %></th>
-->
</tr></thead><tbody>
<%= render :partial => 'subject', :collection => @subjects %>
</tbody></table>
<% else %>
<p>There are no subjects.</p>
<% end %>

<%= will_paginate @subjects %>
