<% content_tag_for( :tr, subject, :class => 'row' ) do %>
<td class='childid'>
<%= link_to subject.childid, sample_subject_path(subject) -%>
</td>
<td class='studyid'>
<%= subject.studyid %>
</td>
<td class='last_name'>
<%= subject.last_name %>
</td>
<td class='first_name'>
<%= subject.first_name %>
</td>
<td class='interview_outcome_on'>
<%=mdy subject.homex_outcome.try(:interview_outcome_on) %>
</td>
<td class='sample_outcome'>
<%= subject.homex_outcome.try(:sample_outcome) %>
</td>
<td class='sample_outcome_on'>
<%=mdy subject.homex_outcome.try(:sample_outcome_on) %>
</td>

<!--
<%# if subject.dust_kit %>
<td class='kit_sent_on'>
<%#= ((date=subject.dust_kit.try(:sent_on)).nil?)?'&nbsp;':date.to_s(:dob) %>
<%#
	This won't work in the long run, but we need to clarify which sample
	We actually already have a duplicate.
%>
<%#=mdy subject.samples.first.try(:sent_to_subject_on) %>
</td>
<td class='kit_received_on'>
<%#= ((date=subject.dust_kit.try(:received_on)).nil?)?'&nbsp;':date.to_s(:dob) %>
<%#
	This won't work in the long run, but we need to clarify which sample
	We actually already have a duplicate.
%>
<%#=mdy subject.samples.first.try(:received_by_ccls_on) %>
</td>
-->
<!--
<%# else %>
<td class='send_kit' colspan='2'>
<%#= link_to 'Send Kit', new_subject_dust_kit_path(subject) %>
</td>
<%# end %>
-->


<% end %><%# content_tag_for %>
