<% id_bar_for(@subject) %>

<table id='general' class='sample_subject'><tbody><tr>
<th>Interview Complete?</th>
<td><%= @subject.try(
	:homex_outcome).try(
	:interview_outcome).try(:code) %></td>
<td>&nbsp;</td>
<th>Date Interview Completed:</th>
<td><%=mdy @subject.try(
	:homex_outcome).try(
	:interview_outcome_on) %></td>
</tr>
</tbody></table><!-- id='general' -->

<table id='pending' class='sample_subject'><thead><tr>
<th>Pending Samples</th>
<th>type</th>
<th>kit sent</th>
<th>kit tracking no</th>
<th>sample tracking no</th>
</tr>
</thead><tbody>
<% @subject.samples.pending.each do |sample| %>
	<tr><td>&nbsp;</td>
		<td><%= link_to sample.sample_type.to_s, sample_path(sample) -%></td>
		<td><%=mdy sample.sent_to_subject_on -%></td>
		<td><%= sample.kit_tracking_number %></td>
		<td><%= sample.sample_tracking_number %></td>
	</tr>
<% end %>
<tr>
<td>&nbsp;</td>
<td><%= ( current_user.may_edit? ) ?
	link_to( "add new ...", new_subject_sample_path(@subject) ) :
	'&nbsp;'
%></td>
</tr>
</tbody></table><!-- id='pending' -->

<table id='collected' class='sample_subject'><tbody><tr>
<th>Collected Samples</th>
<th>type</th>
<th>date collected</th>
<th>date received</th>
</tr>
<% @subject.samples.collected.each do |sample| %>
	<tr><td>&nbsp;</td>
		<td><%= link_to sample.sample_type.to_s, sample_path(sample) -%></td>
		<td><%=mdy sample.collected_on -%></td>
		<td><%=mdy sample.received_by_ccls_on %></td>
	</tr>
<% end %>

</tbody></table><!-- id='collected' -->
