<% stylesheets('dust_kit') %>

<% form_for(@dust_kit, :url => he_subject_dust_kit_path(@subject)) do |f| %>
	<%= f.error_messages %>

	<% @dust_kit.build_kit_package if @dust_kit.kit_package.nil? %>
	<% f.fields_for :kit_package do |kit_fields| %>
		<%= kit_fields.label :tracking_number, 'Kit Tracking Number' %>
		<%= kit_fields.text_field :tracking_number %>
	<% end %>

	<% @dust_kit.build_dust_package if @dust_kit.dust_package.nil? %>
	<% f.fields_for :dust_package do |dust_fields| %>
		<%= dust_fields.label :tracking_number, 'Dust Tracking Number' %>
		<%= dust_fields.text_field :tracking_number %>
	<% end %>

	<p>
		<%= f.submit( (@dust_kit.new_record?)?'Create':'Update') %>
		<%= button_link_to "Cancel", he_subject_path(@subject) %>
	</p>
<% end %>
