<% stylesheets('sample') %>

<% content_for :id_bar do %>
<%= link_to "edit", edit_sample_path(@sample) %>
<% end if current_user.may_edit_subjects? %>
<% id_bar_for(@subject) %>

<%= wrapped_spans :sample, :id,
	:label_text => 'Sample ID:' %>

<%= wrapped_spans :sample, :sample_type_parent,
	:label_text => 'sample type:' %>

<%= wrapped_spans :sample, :sample_type,
	:label_text => 'sample subtype:' %>

<p id='shipping'>Shipping Information</p>

<table><thead>
<tr>
  <th>&nbsp;</th>
  <th>tracking no.</th>
  <th>sent</th>
  <th>received</th>
</tr></thead><tbody>
<tr><th>collection kit</th>
<td><%=link_to @sample.kit_tracking_number,
			@sample.kit_package, :class => 'ajax' %></td>
<td><%=mdy @sample.kit_sent_on %></td>
<td><%=mdy @sample.kit_received_on %></td>
</tr>
<tr><th>sample</th>
<td><%=link_to @sample.sample_tracking_number,
			@sample.sample_package, :class => 'ajax' %></td>
<td><%=mdy @sample.sample_sent_on %></td>
<td><%=mdy @sample.sample_received_on %></td>
</tr>
</tbody></table>
<div id='ajax'></div>
