<% form_for(@subject, :url => he_subject_path(@subject)) do |f| %>
	<%= f.error_messages %>

	<div>
		<% @subject.build_pii if @subject.pii.nil? %>
		<% f.fields_for :pii do |pii_fields| %>
			<%= pii_fields.hidden_field :id %>
			<%= pii_fields.label :first_name %><br />
			<%= pii_fields.text_field :first_name %><br/>
			<%= pii_fields.label :ssn %><br />
			<%= pii_fields.text_field :ssn %><br/>
			<%= pii_fields.label :state_id_no %><br />
			<%= pii_fields.text_field :state_id_no %><br/>
			<%= pii_fields.label :email %><br />
			<%= pii_fields.text_field :email %><br/>
		<% end %>
	</div>

	<div>
		<%= f.label :race_id, 'Race' %><br/>
		<%= f.collection_select :race_id, Race.all, 
			:id, :name, :include_blank => true %><br/>
		<%= f.label :subject_type_id, 'Subject Type' %><br/>
		<%= f.collection_select :subject_type_id, SubjectType.all, 
			:id, :description, :include_blank => true %><br/>
	</div>
	<p>
		<%= f.submit( (@subject.new_record?)? "Create" : "Update" )%>
	</p>
<% end %>
