<% stylesheets('he_subject') %>
<%= render 'he/subjects/submenu' %>

<% content_for :main do %>
<div class='manage'>
<div class='childid'>
<span>ChildID:</span>
<span><%= @subject.childid -%></span>
</div><!-- class='childid' -->
<div class='studyid'>
<span>StudyID:</span>
<span><%= @subject.studyid -%></span>
</div><!-- class='studyid' -->
<div class='controls'>
<%= ( current_user.may_edit_subjects? ) ?
	link_to( "edit", edit_he_subject_path(@subject) ) : '&nbsp;' %>
</div><!-- class='controls' -->
</div><!-- class='manage' -->
<% end %>

<% content_tag_for( :div, @subject ) do %>
<div class='info columns'>

<div>
<div class='full_name'><%= @subject.full_name -%></div>
</div>

<div>
<div>birth date:&nbsp;<%= @subject.dob -%></div>
<div>sex:&nbsp;
<% unless @subject.sex.blank? %>
<%= (@subject.sex.match(/f/i))?'female':'male' -%>
<% end %>
</div>
<div id='addresses'>
<% @subject.addresses.each do |a| %>
<div class='address'>
<%= "#{a.line_1}<br/>" %>
<%= (a.line_2)?"#{a.line_2}<br/>":nil %>
<%= "#{a.city}, #{a.state} #{a.zip}<br/>" %>
</div><!-- class='address' -->
<% end %>
</div><!-- id='addresses' -->
<div id='phone_numbers'>
<% %w( primary alternate alternate_2 alternate_3 ).each do |p| %>
<% unless (( phone_number = @subject.pii.try("phone_#{p}")).blank? )%>
<%= "#{phone_number} #{p}" %><br/>
<% end %>
<% end %>
</div>
</div>

<div>
<div>reference date:&nbsp;<%= @subject.reference_date.try(:to_s,:dob) %></div>
</div>

<div>
<div>vital status:&nbsp;</div>
</div>

</div><!-- class='info' -->
<div class='parent_info columns'>

<div>
<span>Parent Info:</span>
</div>

<div>
<div><span>Mother:&nbsp;</span><span><%= @subject.mothers_name %></span></div>
<div><span>Father:&nbsp;</span><span><%= @subject.fathers_name %></span></div>
</div>

</div><!-- class='parent_info' -->


<div class='temporary columns'>

<div>
<span>Temporary:</span>
</div>

<div>
<% if @subject.dust_kit %>
<%= link_to 'Dust Kit Tracks', he_subject_dust_kit_path(@subject) %>
<% end %>
</div>

</div><!-- class='temporary' -->


<% end %><%# content_tag_for %>
