<% content_for :head, stylesheet_link_tag('he_subject') %>

<% content_for :main do %>
<div class='manage'>
<div class='childid'>
<span>ChildID:</span>
<span><%= @subject.childid -%></span>
</div><!-- class='childid' -->
<div class='studyid'>
<span>StudyID:</span>
<span><%= @subject.studyid -%></span>
</div><!-- class='studyid' -->
<div class='controls'>
<%= link_to "edit", edit_he_subject_path(@subject) %>
<%= link_to "delete", he_subject_path(@subject), :method => 'delete',
	:confirm => "Are you sure?" %>
</div><!-- class='controls' -->
</div><!-- class='manage' -->
<% end %>

<% content_tag_for( :div, @subject ) do %>
<div class='info'>
<div class='col col1'>
<div class='full_name'><%= @subject.full_name -%></div>
<div>male:</div>
<div>female:</div>
</div><!-- class='col1' -->

<div class='col col2'>
<div>birth date:&nbsp;<%= @subject.dob.try(:to_s,:dob) -%></div>
<div>latest address:</div>
<div>phone number:</div>
</div><!-- class='col2' -->

<div class='col col3'>
<div>diagnosis date:</div>
</div><!-- class='col3' -->
</div><!-- class='info' -->
<% end %><%# content_tag_for %>
