<% stylesheets('base/jquery.ui.all.css') %>

<% content_for :id_bar do %>
<%= link_to 'Save', nil, {
:id => "for_#{dom_id(@gift_card,:edit)}",
:class => :submitter
} %>
<% end %>
<% id_bar_for(@gift_card) %>

<% load 'subject.rb' %>
<% form_for(@gift_card,
		:url  => followup_gift_card_path(@gift_card),
		:html => { :class => 'confirm edit_gift_card' }
	) do |f| %>
	<%= f.error_messages %>
	<%= f.wrapped_text_field :vendor %>
	<%= f.wrapped_text_field :number %>
	<%= f.wrapped_date_text_field :issued_on %>

	<% f.wrapped_collection_select :study_subject_id,
		@subjects, :id, :to_s, :include_blank => true do %>
		<% if( @subjects.length <= 0 ) %>
			<span class='warning'>No eligible subjects at this time.</span>
		<% end %>
	<% end %>

<% end %>
