<%= followup_sub_menu() %>
<%= render 'subjects/subsearch' %>

<% if @gift_cards.length > 0 %>
<table id='gift_cards'><thead><tr>
<th><%= sort_link('Number') %></th>
<th><%= sort_link('Issued') %></th>
<th><%= sort_link('Last Name') %></th>
<th><%= sort_link('First Name') %></th>
<th><%= sort_link('ChildID') %></th>
<th><%= sort_link('StudyID') %></th>
</tr></thead><tbody>
<%= render @gift_cards %>
</tbody></table>
<% else %>
<p>There are no gift_cards.</p>
<% end %>

<%= will_paginate @gift_cards %>

