<% content_tag_for( :tr, gift_card, :class => 'row' ) do %>
<td class='project'>
<%= gift_card.project||'Unknown' %>
</td>
<td class='vendor'>
<%= gift_card.vendor||'Unknown' %>
</td>
<td class='issued'>
<%=mdy gift_card.issued_on %>
</td>
<td class='manage'>
<%= link_to 'view',gift_card_path(gift_card) %>
<%= link_to 'edit',edit_gift_card_path(gift_card) %>
</td>
<% end %><%# content_tag_for %>
