<% load 'gift_card.rb' if RAILS_ENV == 'development' %>
<% load 'pii.rb' if RAILS_ENV == 'development' %>

<% content_tag_for( :tr, subject, :class => 'row' ) do %>
<td class='childid'>
<%= link_to subject.childid, followup_subject_path(subject) -%>
</td>
<td class='studyid'>
<%= subject.studyid %>
</td>
<td class='last_name'>
<%= subject.last_name %>
</td>
<td class='first_name'>
<%= subject.first_name %>
</td>
<td class='gift_card_issued'>
<%=mdy subject.hx_gift_card.try(:issued_on) %>
</td>
<td class='gift_card_number'>
<%= subject.hx_gift_card.try(:number)||'&nbsp;' %>
</td>
<% end %><%# content_tag_for %>
