<% stylesheets('subjects') %>
<%= followup_sub_menu() %>
<%= render 'subjects/subsearch' %>

<% if @subjects.length > 0 %>
<table id='subjects'><thead><tr>
<th><%= sort_link('ChildID') %></th>
<th><%= sort_link('StudyID') %></th>
<th><%= sort_link('Last Name') %></th>
<th><%= sort_link('First Name') %></th>
<th><%= sort_link(:issued_on,'Issued') %></th>
<th><%= sort_link('Number') %></th>
</tr></thead><tbody>
<%# load 'gift_card.rb' %>
<%= render @subjects %>
</tbody></table>
<% else %>
<p>There are no subjects.</p>
<% end %>

<%= will_paginate @subjects %>
