<% content_for :id_bar do %>
<%= link_to "edit", edit_followup_subject_path(@subject) %>
<% end if current_user.may_edit_subjects? %>
<% id_bar_for(@subject) %>

<% if @subject.hx_gift_card %>
<% @gift_card = @subject.hx_gift_card %>
<% div_for @gift_card do %>
<%= wrapped_spans :gift_card,:vendor %>
<%= wrapped_spans :gift_card,:number %>
<%= wrapped_date_spans :gift_card, :issued_on %>
<%= wrapped_spans :subject,:full_name %>
<% end %>
<% else %>
<p>Subject does not have a home exposure gift card.</p>
<% end %>
