<% stylesheets('subject') %>
<% render 'submenu' %>

<% content_for :id_bar do %>
<%= link_to 'Edit', edit_interview_path(@interview) %>
<% end if current_user.may_edit_interviews? %>

<% id_bar_for(@subject) %>

<% content_tag_for( :div, @interview ) do %>
<p>Interview Info</p>
<p>Outcome: NOT CODED YET</p>

<p>Dates of interview</p>
<p>began: <%=mdy @interview.began_on %>:  
ended (if other than date began)<%=mdy @interview.ended_on %>
</p>
<p>Interviewer:<%= @interview.interviewer %></p>
<p>Version:<%= @interview.instrument_version %></p>
<p>Interview method:<%= @interview.interview_method %></p>
<p>Interview language:<%= @interview.language %></p>

<p>Respondent Info</p>
<p>Name:<%= @interview.respondent_full_name %></p>
<p>Relationship: NOT CODED YET       specify:NOT CODED YET</p>

<% end %><%# content_tag_for %>
