<% stylesheets('hx_subjects') %>
<%= render 'hx/subjects/subsearch' %>

<div class='header columns'>
<%= sort_link('ChildID') %>
<%= sort_link('StudyID') %>
<%= sort_link('Last Name') %>
<%= sort_link('First Name') %>
</div>
<div id='subjects'>
<%= render :partial => 'hx/subjects/subject', :collection => @subjects %>
</div>

<%= will_paginate @subjects %>
