<%= f.error_messages %>

<% @sample_kit.build_kit_package if @sample_kit.kit_package.nil? %>
<% f.fields_for :kit_package do |kit_fields| %>
	<%= kit_fields.label :tracking_number, 'Kit Tracking Number' %>
	<%= kit_fields.text_field :tracking_number %>
<% end %>

<% @sample_kit.build_sample_package if @sample_kit.sample_package.nil? %>
<% f.fields_for :sample_package do |sample_fields| %>
	<%= sample_fields.label :tracking_number, 'Sample Tracking Number' %>
	<%= sample_fields.text_field :tracking_number %>
<% end %>

<p>
	<%= f.submit( (@sample_kit.new_record?)?'Create':'Update') %>
	<%= button_link_to "Cancel", subject_path(@sample_kit.sample.subject) %>
</p>
