<% content_for :id_bar do %>
<%= link_to "edit", edit_followup_study_subject_path(@study_subject) %>
<% end if current_user.may_edit_study_subjects? %>
<% id_bar_for(@study_subject) %>

<% if @gift_card %>
<% div_for @gift_card do %>
<%= wrapped_spans :gift_card,:vendor %>
<%= wrapped_spans :gift_card,:number %>
<%= wrapped_date_spans :gift_card, :issued_on %>
<%= wrapped_spans :study_subject,:full_name %>
<% end %>
<% else %>
<p>Subject does not have a home exposure gift card.</p>
<% end %>
