<% content_tag_for( :div, enrollment, :class => 'row columns' ) do %>
<div class='project'>
<%= link_to enrollment.project.code, 
	hx_enrollment_path(enrollment) %>
</div>
<div class='candidate'>
<%= ((x=enrollment.is_candidate).blank?)?'&nbsp;':x %>
</div>
<div class='locate'>
<%= ((x=enrollment.able_to_locate).blank?)?'&nbsp;':x %>
</div>
<div class='eligible'>
<%= ((x=enrollment.is_eligible).blank?)?'&nbsp;':x %>
</div>
<div class='consented'>
<%= enrollment.consented_on||'&nbsp;' %>
</div>
<div class='completed'>
<%= enrollment.completed_on||'&nbsp;' %>
</div>

<% end %>
