<% content_tag_for( :div, subject, :class => 'row columns' ) do %>
<div class='childid'><%= link_to subject.childid, he_subject_path(subject) -%></div>
<div class='studyid'>
<%= subject.studyid %>
</div>
<div class='last_name'>
<%= subject.last_name %>
</div>
<div class='first_name'>
<%= subject.first_name %>
</div>
<div class='kit_sent_on'>
<%= subject.first_name %>
</div>
<div class='kit_received_on'>
<%= subject.first_name %>
</div>
<% end %><%# content_tag_for %>
