<fieldset id='main'>
<legend><%= controller_name.capitalize %></legend>

<div id='users'><table><tbody>
<tr>
<th>SN</th>
<th>Display Name</th>
<th>Admin?</th>
</tr>
<% @users.each do |user| -%>
<tr>
<td class='sn'><%= link_to user.sn, user -%></td>
<td class='displayname'><%= link_to user.displayname, user -%></td>
<td class='is_admin'><%= user.is_admin? -%></td>

<% if logged_in? and current_user.is_admin? %>
<td>
<%# note that this is a bit unconventional (the sending an id into a create part) %>
<% if user.is_admin? %>
	<%= link_to "Undeputize&nbsp;**", deputy_path(:id => user.id), :method => :delete %>
<% else %>
	<%= link_to "Deputize&nbsp;**", deputies_path(:id => user.id), :method => :create %>
<% end %>
</td>
<% end %>

</tr>
<% end -%>
</tbody></table></div>

</fieldset> 
