<%= content_for :head, stylesheet_link_tag('users') %>

<div id='users'>
<% @users.each do |user| %>
<div class='<%=user.role_name-%> user row'>
<div class='sn'>
<%= link_to user.sn, user -%>
</div>
<div class='displayname'>
<%= user.displayname -%>
</div>
<div class='role_name'>
<%= link_to user.role_name, users_path( :role_name => user.role_name ) -%>
</div>
</div>
<% end %>
</div><!-- id='users' -->
