<%= content_for :head, stylesheet_link_tag('user') %>

<fieldset id='main'>
<legend><%= @user.username %></legend>

 
<div class='person'><dl>
	<%# @user.attributes.keys.each do |key| -%>
	<% %w( displayname mail username email ).each do |key| -%>
		<dt><%= key -%></dt>
		<dd><%= @user.attributes[key] -%></dd>
	<% end -%>
</dl>
<%#= link_to 'Edit User', edit_user_path(@user) %>
</div>


<div id='roles'>
<%= link_to( image_tag(@user.gravatar_url), "http://gravatar.com",
	:target => 'new' )%>
<% if current_user.administrator? %>
<ul>
<% @roles.each do |role| %>
<li>
<% if @user.roles.collect(&:name).include?(role.name.to_s) %>
User is a(n) '<%= role.name -%>'
<% else %>
<%= link_to "Assign user role of '#{role.name}'", 
	user_role_path(@user,role ), 
	:method => :put %>
<% end %>
</li>
<% end %>
</ul>
<% end %>
</div>
 
</fieldset> 
