<% content_for :head, stylesheet_link_tag('page') %>

<fieldset id='main'>
<legend>Page</legend>

<div class='parent'>
<b>Parent?</b> (Is this a main or sub menu page?)<br/>
<%= f.collection_select :parent_id, Page.all(:order => "menu"), 
	:id, :menu, :include_blank => true %>  
</div>
<div class='locale'>
<b>Locale?</b><br/>
<%= f.select :locale, Page.locales %>
	
</div>
<div class='hide_menu'>
<%= f.check_box :hide_menu %>
<%= f.label :hide_menu, "Hide in menu system" %>
</div>

<div class='fields'>
<p><b>Title</b> (this is the text on the top of the browser)</p>
<%= f.text_field :title %>

<p><b>Menu</b> (this is the text on the menu)</p>
<%= f.text_field :menu %>

<p><b>Path:</b> (this is the path in the url. ie. /help/login )</p>
<%= f.text_field :path %>

<p><b>Controller:</b> (if this is a 'fake' page for menuing, otherwise leave blank (see Jake))</p>
<%= f.text_field :controller %>

<p><b>Body</b> (uses sanitized <%= link_to 'textile', 'http://redcloth.org', :target => 'new' %>)</p>
<%= f.text_area :body %>
</div><!-- fields -->
</fieldset>
