<%= error_messages_for :page %>

<% form_for(@page) do |f| %>
  <%= render 'form', :f => f %>
  <p>
    <%= f.submit "Update", :id => nil %>&nbsp;
    <%= button_link_to "Cancel and View", @page %>
<span style='float:right'>
		<%= f.submit( 'Translate/Edit Locale...', :id => nil ) %>
    <%= select_tag( :locale, 
			options_for_select(Page.locales - [f.object.locale]) ) %>
</span>
  </p>
<% end %>
