<% content_for :head do %>
<%= stylesheet_link_tag('pages') %>
<%= javascript_include_tag('pages') %>
<% end %>

<% form_tag(order_pages_path, :method => :post, :id => 'order_pages') do -%>

<div id='pages'>
<% @pages.each do |page| %>
<% content_tag_for( :div, page, :class => 'row' ) do %>
<%= hidden_field_tag( 'pages[]', page.id, :id => nil ) %>
<%= image_tag 'drag.gif', :class => 'handle' %>
<div class='position'><%= page.position -%></div>
<div class='path'>
<%= link_to page.path, page.path -%>
</div>
<div class='menu'>
<%= link_to page.menu, page -%>
</div>
<div class='title'>
<%= link_to page.title, page -%>
</div>
<div class='manage'>
<%= link_to "Edit", edit_page_path(page) -%>
&nbsp;
<%= link_to "Destroy", page_path(page), :confirm => "Delete '#{page.title}'?\nAre you sure?", :method => :delete -%>
</div>
<% end %><!-- class='page' -->
<% end %><%# @pages.each %>
</div><!-- id='pages' -->

<p>
<%= button_link_to "Create new page", new_page_path -%>
<%= submit_tag 'Save page order', :name => nil %>
</p>

<% end %>
