<%= content_for :head, stylesheet_link_tag('pages') %>

<div id='pages'>
<% @pages.each do |page| %>
<div class='page row'>
<div class='path'>
<%= link_to page.path, page.path -%>
</div>
<div class='title'>
<%= link_to page.title, page -%>
</div>
<div class='manage'>
<%= link_to "Edit", edit_page_path(page) -%>
&nbsp;
<%= link_to "Destroy", page_path(page), :confirm => "Delete '#{page.title}'?\nAre you sure?", :method => :delete -%>
</div>
</div><!-- class='page' -->
<% end %>
</div><!-- id='pages' -->

<p><%= button_link_to "Create new page", new_page_path -%></p>
