<div class='addressing_wrapper contact_wrapper'>

<%#

What is 'date' ?

	'date' is a boolean variable sometimes passed
	to this partial to flag whether or not to show 
	the dates.

%>
<% if defined?(dates) and dates -%>
<div class='when'>
<span class='from'><%=mdy addressing.valid_from %></span>
<% if addressing.valid_from && addressing.valid_to %>
&nbsp;-&nbsp;
<% end %>
<span class='to'><%=mdy addressing.valid_to %></span>
</div><!-- class='when' -->
<% end -%><%# if defined?(details) and details -%>

<% div_for addressing do %>
<span class='line_1'><%= addressing.line_1 %></span>
<span class='line_2'><%= addressing.line_2 %></span>
<span class='csz'><%= addressing.csz %></span>
<span class='county'><%= addressing.county %></span>
<% end %><!-- class='addressing' -->

<div class='addressing_meta contact_meta'>
<span class='type'>type:&nbsp;<%= addressing.address_type %></span>
</div><!-- class='addressing_meta' -->

<% if defined?(details) and details -%>
<div class='addressing_valid contact_valid'>
<div class='brief'>
<!--
<span class='valid'>
valid:&nbsp;<%#= (!addressing.is_not_valid?)?'yes':'no' %>
</span>
<span class='verified'>
verified:&nbsp;<%#= (addressing.is_verified?)?'yes':'no' %>
</span>
-->
<% @this_addressing = addressing %>
<%= wrapped_yndk_spans(:this_addressing, :is_valid, 
	:label_text => "valid:") %>
<%= wrapped_yes_or_no_spans(:this_addressing, :is_verified, 
	:label_text => "verified:") %>
</div><!-- class='brief' -->
<div class='details'>
<span class='why'>
<%#= (!addressing.is_valid?)?"why:&nbsp;#{addressing.why_invalid}":"&nbsp;" %>
<%= (addressing.is_not_valid?)?"why:&nbsp;#{addressing.why_invalid}":"&nbsp;" %>
</span>
<span class='how'>
<%= (addressing.is_verified?)?"how:&nbsp;#{addressing.how_verified}":"&nbsp;" %>
</span>
</div><!-- class='details' -->
</div><!-- class='addressing_valid contact_valid' -->
<% end -%><%# if defined?(details) and details -%>

<div class='edit'>
<%#

What is 'edit' ?

	'edit' is a boolean variable sometimes passed
	to this partial to flag whether or not to show 
	the edit link.

%>
<% if defined?(edit) and edit -%>
<%= link_to 'Edit', edit_addressing_path(addressing) %>
<% else -%>
&nbsp;
<% end -%><%# if defined?(edit) and edit -%>
</div><!-- class='edit' -->
</div><!-- class='addressing_wrapper contact_wrapper' -->
