<% stylesheets('contacts') %>
<% render 'subjects/submenu' %>
<% render 'subjects/id_bar' %>

<div id='current'>
<span>Current Info:</span>
<div class='addresses'>
<%= render :partial => 'address', 
	:collection => @subject.addresses,
	:locals => { :details => true,
		:edit => current_user.may_edit_addresses? } %>
<% if current_user.may_edit_addresses? %>
<p id='new_address' class='new'>
<%= link_to 'add new ...', new_subject_address_path(@subject) %>
</p>
<% end %>
</div><!-- class='addresses' -->

<div class='phone_numbers'>
<%= render :partial => 'phone_number', 
	:collection => @subject.phone_numbers,
	:locals => { :details => true,
		:edit => current_user.may_edit_phone_numbers? } %>
<% if current_user.may_edit_phone_numbers? %>
<p id='new_phone_number' class='new'>
<%= link_to 'add new ...', new_subject_phone_number_path(@subject) %>
</p>
<% end %>
</div><!-- class='phone_numbers' -->
</div><!-- id='current' -->

<div id='history'>
<span>Address History:</span>
<div class='addresses'>
<%= render :partial => 'address', 
	:collection => @subject.addresses,
	:locals => { :dates => true } %>
</div><!-- class='addresses' -->
</div><!-- id='history' -->
