<% stylesheets('contacts') %>
<% sub_menu_for(@subject) %>
<% id_bar_for(@subject) %>

<div id='current'>
<span>Current Info:</span>
<div class='addressings'>
<%#
	This probably should just be the current address ?
%>
<%= render :partial => 'addressing', 
	:collection => @subject.addressings.current,
	:locals => { :details => true,
		:edit => current_user.may_edit_addressings? } %>
<% if current_user.may_edit_addressings? %>
<p id='new_address' class='new'>
<%= link_to 'add new address ...', new_subject_addressing_path(@subject) %>
</p>
<% end %>
</div><!-- class='addressings' -->

<div class='phone_numbers'>
<%= render :partial => 'phone_number', 
	:collection => @subject.phone_numbers,
	:locals => { :details => true,
		:edit => current_user.may_edit_phone_numbers? } %>
<% if current_user.may_edit_phone_numbers? %>
<p id='new_phone_number' class='new'>
<%= link_to 'add new phone number ...', new_subject_phone_number_path(@subject) %>
</p>
<% end %>
</div><!-- class='phone_numbers' -->
</div><!-- id='current' -->

<div id='history'>
<span>History:</span>
<div class='addressings'>
<%#
	This probably should be all except the current address ?
%>
<%= render :partial => 'addressing', 
	:collection => @subject.addressings.historic,
	:locals => { :dates => true,
		:edit => current_user.may_administrate? } %>
</div><!-- class='addressings' -->
<div class='phone_numbers'>
<%= render :partial => 'phone_number', 
	:collection => @subject.phone_numbers,
	:locals => { :details => true,
		:edit => current_user.may_administrate? } %>
</div><!-- class='phone_numbers' -->
</div><!-- id='history' -->
