<% stylesheets('edit_phone_number') %>
<% javascripts('edit_phone_number') %>

<% content_for :head do -%>
<% javascript_tag do -%>
jQuery(function(){
  toggle_why_invalid(<%=!@phone_number.is_not_valid?-%>);
  toggle_how_verified(<%=@phone_number.is_verified?-%>);
});
<% end ; end -%>

<% sub_menu_for(@study_subject||@phone_number.study_subject) %>
<% id_bar_for(@study_subject||@phone_number.study_subject) %>

<%= f.error_messages %>

<%= f.wrapped_text_field :phone_number,
	:label_text => 'phone number:' %>

<%= f.wrapped_collection_select :phone_type_id, PhoneType.all, 
			:id, :code, :include_blank => true, :label_text => 'type:' %>

<%= f.wrapped_check_box :is_primary,
	:label_text => 'primary phone?' %>

<div class='valid'>
<%= f.wrapped_y_n_dk_select :is_valid,
	:label_text => 'valid?' %>
<%= f.wrapped_text_field :why_invalid, 
	:label_text => 'why?' %>
</div><!-- class='valid' -->

<div class='verified'>
<%= f.wrapped_check_box :is_verified,
	:label_text => 'verified?' %>
<%= f.wrapped_text_field :how_verified, 
	:label_text => 'how?' %>
</div><!-- class='verified' -->

<%= f.wrapped_y_n_dk_select :current_phone %>

