<% content_tag_for( :tr, enrollment, :class => 'row' ) do %>
<td class='project'>
<%= link_to enrollment.project.code, 
	enrollment_path(enrollment) %>
</td>
<td class='candidate'>
<%= (enrollment.is_candidate?)?'yes':'no' %>
</td>
<td class='locate'>
<%= (enrollment.able_to_locate?)?'yes':'no' %>
</td>
<td class='eligible'>
<%= (enrollment.is_eligible?)?'yes':'no' %>
</td>
<td class='consented'>
<%#= enrollment.consented_on||'&nbsp;' %>
<%= enrollment.consented_on %>
</td>
<td class='completed'>
<%#= enrollment.completed_on||'&nbsp;' %>
<%= enrollment.completed_on %>
</td>
<% end %>
