<% stylesheets('enrollment') %>
<% render 'subjects/submenu', :subject => @enrollment.subject %>
<% render 'subjects/id_bar', :subject => @enrollment.subject %>

<p><%= @enrollment.project.description -%></p>

<%= wrapped_spans :enrollment, :recruitment_priority %>
<%= wrapped_spans :enrollment, :able_to_locate %>
<%= wrapped_spans :enrollment, :is_candidate %>
<%= wrapped_spans :enrollment, :is_eligible %>
<%= wrapped_spans :enrollment, :ineligible_reason %>
<%= wrapped_spans :enrollment, :ineligible_reason_specify %>
<%= wrapped_spans :enrollment, :consented %>
<%= wrapped_spans :enrollment, :consented_on %>
<%= wrapped_spans :enrollment, :refusal_reason %>
<%= wrapped_spans :enrollment, :other_refusal_reason %>
<%= wrapped_spans :enrollment, :is_chosen %>
<%= wrapped_spans :enrollment, :reason_not_chosen %>
<%= wrapped_spans :enrollment, :terminated_participation %>
<%= wrapped_spans :enrollment, :terminated_reason %>
<%= wrapped_spans :enrollment, :is_complete %>
<%= wrapped_spans :enrollment, :completed_on %>
<%= wrapped_spans :enrollment, :is_closed %>
<%= wrapped_spans :enrollment, :reason_closed %>
<%= wrapped_spans :enrollment, :notes %>

<%= link_to( 'Edit', edit_enrollment_path(@enrollment),
	:class => 'id_bar_button with_submenu'
	) if current_user.may_edit_enrollments? %>
