<% content_tag_for( :tr, subject, :class => 'row' ) do %>
<% unless defined?(no_check_box) %>
<td class='checkbox'>
<%#= check_box_tag "subjects[#{subject.id}]",true, %>
<%= check_box_tag "subjects[]",subject.id,
	(params[:subjects]||[]).include?(subject.id.to_s)?true:false %>
</td>
<% end %>
<td class='childid'>
<%= link_to subject.childid, hx_subject_path(subject) -%>
</td>
<td class='studyid'>
<%= subject.studyid %>
</td>
<td class='priority'>
<%= subject.priority||'&nbsp;' %>
</td>
<td class='first_name'>
<%= subject.first_name %>
</td>
<td class='last_name'>
<%= subject.last_name %>
</td>
<td class='outcome'>
<%= subject.outcome %>
</td>
<td class='outcome_date'>
<%= subject.outcome_date %>
</td>
<% end %><%# content_tag_for %>
