<% stylesheets('hx_enrolls') %>
<%= render 'submenu' %>
<%= render 'hx/subjects/subsearch' %>

<% if @subjects.length > 0 %>
<table id='subjects'><thead><tr>
<th><%= sort_link('ChildID') %></th>
<th><%= sort_link('StudyID') %></th>
<th><%= sort_link('Priority') %></th>
<th><%= sort_link('First Name') %></th>
<th><%= sort_link('Last Name') %></th>
<th><%= sort_link('Outcome') %></th>
<th><%= sort_link('Outcome Date') %></th>
</tr></thead><tbody>
<%= render :partial => 'hx/enrolls/subject', :collection => @subjects,
	:locals => { :no_check_box => true } %>
</tbody></table>
<% else %>
<p>There are no subjects.</p>
<% end %>

<%= will_paginate @subjects %>
