<% stylesheets('base/jquery.ui.all.css') %>
<% javascripts('edit_patient') %>
<% sub_menu_for(@study_subject) %>
<% id_bar_for(@study_subject) %>

<%= f.error_messages %>

<% f.wrapped_date_text_field :admit_date,
	:class => 'datepicker',
	:label_text => 'admit date:' do %>
<div class='warning'>Note: changing this date modifies the reference date for this case and all related controls.</div>
<% end %>

<%= f.wrapped_date_text_field :diagnosis_date,
	:class => 'datepicker',
	:label_text => 'diagnosis date:' %>

<%= f.wrapped_collection_select :diagnosis_id,
	Diagnosis.all, :id, :description, :include_blank => true, 
	:label_text => 'diagnosis:' %>

<%= f.wrapped_text_field :other_diagnosis %>

<%#= f.wrapped_collection_select :organization_id,
	Organization.all, :id, :name, :include_blank => true, 
	:label_text => 'diagnosing hospital:' %>

<div class='organization_id collection_select field_wrapper'>
<label for="patient_organization_id">diagnosing hospital:</label>
  <%= f.collection_select :organization_id,
		Hospital.all(:include => :organization), 
		:organization_id, :to_s, :include_blank => true %>
</div><!-- class='organization_id' -->

<%= f.wrapped_text_field :hospital_no,
	:label_text => 'hospital number:' %>

