<% sub_menu_for(@subject) %>

<% content_for :id_bar do %>
<%= link_to 'Edit', edit_subject_patient_path(@subject) %>
<% end if current_user.may_edit_patients? %>
<% id_bar_for(@subject) %>

<div id='patient'>
<div class='diagnosis_date field_wrapper'>
<span class='label'>diagnosis (reference) date:</span>
<span class='value'><%=mdy @patient.diagnosis_date %></span>
</div><!-- class='diagnosis_date' -->
<%= wrapped_spans(:patient,:diagnosis,
	:label_text => 'diagnosis:' ) %>
<%= wrapped_spans(:patient,:organization,
	:label_text => 'diagnosing hospital:') %>
<%= wrapped_spans(:patient,:hospital_no,
	:label_text => 'hospital number:') %>
</div><!-- id='patient' -->

<p>Development:</p>
<%= destroy_link_to 'Destroy', subject_patient_path(@subject) %>
