<% sub_menu_for(@study_subject) %>

<% content_for :id_bar do %>
<%= link_to 'Edit', edit_study_subject_patient_path(@study_subject) %>
<% end if current_user.may_edit_patients? %>
<% id_bar_for(@study_subject) %>

<div id='patient'>
<div class='admit_date field_wrapper'>
<span class='label'>admit (reference) date:</span>
<span class='value'><%=mdy @patient.admit_date %></span>
</div><!-- class='admit_date' -->
<%= wrapped_date_spans(:patient,:diagnosis_date,
	:label_text => 'diagnosis date:' ) %>
<%= wrapped_spans(:patient,:diagnosis,
	:label_text => 'diagnosis:' ) %>
<%= wrapped_spans(:patient,:organization,
	:label_text => 'diagnosing hospital:') %>

</div><!-- id='patient' -->

<h4>Development Only:</h4>
<%= destroy_link_to 'Destroy', study_subject_patient_path(@study_subject) %>

<%= wrapped_spans(:study_subject,:familyid) %>
<%= wrapped_spans(:study_subject,:matchingid) %>
<% StudySubject.find_all_by_matchingid(@study_subject.matchingid).each do |s| %>
<%= link_to s.full_name, study_subject_path(s) %>
<% end %>
