<% stylesheets('patient') %>
<% render 'subjects/submenu' %>

<% content_for :id_bar do %>
<%= link_to 'Edit', edit_subject_patient_path(@subject) %>
<% end if current_user.may_edit_patient? %>
<% render 'subjects/id_bar' %>

<div id='patient'>
<%= wrapped_spans(:patient,:diagnosis_date,
	:label_text => 'diagnosis (reference) date:') %>
<%= wrapped_spans(:patient,:diagnosis_id,
	:label_text => 'NO DIAGNOSIS MODEL YET' ) %>
<%= wrapped_spans(:patient,:organization,
	:label_text => 'diagnosing hospital:') %>
<%= wrapped_spans(:patient,:hospital_no,
	:label_text => 'hospital number:') %>
</div><!-- id='patient' -->

<p>Development:</p>
<%= destroy_link_to 'Destroy', subject_patient_path(@subject) %>
