<% stylesheets('edit_subject') %>
<% render 'subjects/id_bar' %>

<%= f.error_messages %>

<div>
<div class='do_not_contact field_wrapper'>
<%= f.label :do_not_contact, "Contact Status:" %>
<%= f.check_box :do_not_contact %>
<%= f.label :do_not_contact, "do not contact subject?" %>
</div><!-- class='do_not_contact' -->

	<% @subject.build_pii if @subject.pii.nil? %>
	<% f.fields_for :pii do |pii_fields| %>
		<%= pii_fields.hidden_field :id %>

		<%= pii_fields.label :name %><br />
		<%= pii_fields.text_field :first_name %>
		<%= pii_fields.text_field :middle_name %>
		<%= pii_fields.text_field :last_name %><br/>

		<%= pii_fields.label :fathers_name %><br />
		<%= pii_fields.text_field :father_first_name %>
		<%= pii_fields.text_field :father_middle_name %>
		<%= pii_fields.text_field :father_last_name %><br/>

		<%= pii_fields.label :mothers_name %><br />
		<%= pii_fields.text_field :mother_first_name %>
		<%= pii_fields.text_field :mother_middle_name %>
		<%= pii_fields.text_field :mother_last_name %><br/>

		<%= pii_fields.label :mothers_maiden_name %><br />
		<%= pii_fields.text_field :mother_maiden_name %><br/>

		<%= pii_fields.label :state_id_no %><br />
		<%= pii_fields.text_field :state_id_no %><br/>
		<%= pii_fields.label :email %><br />
		<%= pii_fields.text_field :email %><br/>

		<%= pii_fields.label :dob %>
		(<%= link_to 'Chronic', 
			'http://chronic.rubyforge.org',
			:target => 'new' %> parsed field)<br />
		<%= pii_fields.text_field :dob_string,
			:value => @subject.dob.try(:to_s,:dob) %><br/>

	<% end %>
</div>

<div><%= f.label :sex, 'Sex' %>
<%= f.sex_select :sex, :include_blank => true %>
</div>
<%= f.wrapped_collection_select :race_id, Race.all, 
	:id, :name, :include_blank => true,
	:label_text => 'Race' %>
<%= f.wrapped_collection_select :subject_type_id, SubjectType.all, 
	:id, :description, :include_blank => true,
	:label_text => "Subject Type" %>
<%= f.wrapped_collection_select :vital_status_id,
	VitalStatus.all, :id, :description, :include_blank => true %>
