<% stylesheets('base/jquery.ui.all.css') %>
<% id_bar_for(@subject) %>

<%= f.error_messages %>

<div class='do_not_contact field_wrapper'>
<%= f.label :do_not_contact, "Contact Status:" %>
<%= f.check_box :do_not_contact %>
<%= f.label :do_not_contact, "do not contact subject?" %>
</div><!-- class='do_not_contact' -->

<% @subject.build_pii if @subject.pii.nil? %>
<% f.fields_for :pii do |pii_fields| %>
	<%#= pii_fields.hidden_field :id %>

	<%= pii_fields.label :name %><br />
	<%= pii_fields.text_field :first_name %>
	<%= pii_fields.text_field :middle_name %>
	<%= pii_fields.text_field :last_name %><br/>

	<%= pii_fields.label :fathers_name %><br />
	<%= pii_fields.text_field :father_first_name %>
	<%= pii_fields.text_field :father_middle_name %>
	<%= pii_fields.text_field :father_last_name %><br/>

	<%= pii_fields.label :mothers_name %><br />
	<%= pii_fields.text_field :mother_first_name %>
	<%= pii_fields.text_field :mother_middle_name %>
	<%= pii_fields.text_field :mother_last_name %><br/>

	<%= pii_fields.label :mothers_maiden_name %><br />
	<%= pii_fields.text_field :mother_maiden_name %><br/>

	<%= pii_fields.wrapped_text_field :state_id_no,
		:label_text => 'State ID No.' %>
	<%= pii_fields.wrapped_date_text_field :dob,
		:class => 'datepicker',
		:label_text => 'DOB' %>
<% end %>

<%= f.wrapped_sex_select :sex, 
	:include_blank => true %>

<%= f.wrapped_collection_select :race_id, Race.all, 
	:id, :to_s, :include_blank => true,
	:label_text => 'Race' %>

<%= f.wrapped_collection_select :subject_type_id, SubjectType.all, 
	:id, :to_s, :include_blank => true,
	:label_text => "Relation to Case:" %>

<%= f.wrapped_collection_select :vital_status_id,
	VitalStatus.all, :id, :to_s, :include_blank => true %>

<%= render 'subject_homex_outcomes' %>
<%#= render 'homex_outcome_form', :f => f %>
