<% form_tag(subjects_path, :id => 'subject_search',:method => :get) do %>
	<%= races_check_boxes() %>
	<%= subject_types_check_boxes() %>
	<%= dust_kit_radio_buttons() %>
	<%= study_event_stuff() %>
	<div id='something'>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag 'Search Subjects', :name => nil %>
	<p>What other conditions do you want to search by?  Tell Jake.</p>
	</div>
<% end %>
