<% form_tag(subjects_path, :id => 'subject_search',:method => :get) do %>

	<% if Race.count > 0 %>
	<fieldset id='races'>
	<legend>Races</legend>
	<ul>
		<% Race.all.each do |race| %>
			<li><%= check_box_tag 'races[]', race.name, params['races'].try(:include?,race.name), 
					:id => dom_id(race)  %>
				<%= label_tag dom_id(race), race.name %>
			</li>
		<% end %>
	</ul>
	</fieldset><!-- races -->
	<% end %><%# if Race.count > 0 %>

	<% if SubjectType.count > 0 %>
	<fieldset id='types'>
	<legend>SubjectTypes</legend>
	<ul>
		<% SubjectType.all.each do |type| %>
			<li><%= check_box_tag 'types[]', type.name, params['types'].try(:include?,type.name), 
					:id => dom_id(type)  %>
				<%= label_tag dom_id(type), type.name %>
			</li>
		<% end %>
	</ul>
	</fieldset><!-- types -->
	<% end %><%# if SubjectType.count > 0 %>

	<fieldset id='other'>
	<legend>Other</legend>
	<ul>
		<li><%= check_box_tag 'dust_kit', nil, params['dust_kit'] %><%= label_tag 'dust_kit' %></li>
	</ul>
	</fieldset><!-- other -->

	<div id='something'>
	<%= submit_tag 'Search Subjects', :name => nil %>
<p>What other conditions do you want to search by?  Tell Jake.</p>
	</div>
<% end %>
