<div class='personal columns'>
<div class='column'>
<p class='full_name'><%= @subject.full_name -%></p>
</div><!-- class='column' -->
<div class='column'>

<p>birth date:&nbsp;<%= @subject.dob.try(:to_s,:dob) -%></p>
<p>sex:&nbsp;
<% unless @subject.sex.blank? %>
<%= (@subject.sex.match(/f/i))?'female':'male' -%> 
<% end %>
</p>

<div id='addresses'>
<%= render :partial => 'contacts/address',
    :collection => @subject.addresses, 
		:locals => { :dates => false, :details => false, :edit => false } %>
</div><!-- id='addresses' -->

<div id='phone_numbers'>
<%= render :partial => 'contacts/phone_number',
    :collection => @subject.phone_numbers, 
		:locals => { :dates => false, :details => false, :edit => false } %>
</div><!-- id='phone_numbers' -->

</div><!-- class='column' -->
<div class='column'>
<p>reference date:&nbsp;<%= @subject.reference_date.try(:to_s,:dob) %></p>
<p>vital status: NOT CODED YET</p>
</div><!-- class='column' -->
</div><!-- class='personal' -->
