<% stylesheets('edit_address') %>
<% render 'subjects/submenu', :subject => @address.subject %>
<%= f.error_messages %>
<%= f.text_field :line_1, :class => 'line_1' %>
<%= f.text_field :line_2, :class => 'line_2' %>
<%= f.text_field :city, :class => 'city' %>
<%= f.text_field :state, :class => 'state' %>
<%= f.text_field :zip, :class => 'zip' %>
<br/>
<%= f.collection_select :address_type_id, AddressType.all, 
			:id, :code, :include_blank => true %>
<p>
	<%= f.submit( (@address.new_record?)? "Create" : "Update" )%>
</p>
