<% stylesheets('edit_address') %>
<% render 'subjects/submenu', :subject => @address.subject %>
<%= f.error_messages %>
<span class='label'>Line 1</span>
<%= f.text_field :line_1, :class => 'line_1' %>
<span class='label'>Line 2</span>
<%= f.text_field :line_2, :class => 'line_2' %>
<span class='label'>City, State Zip</span>
<%= f.text_field :city, :class => 'city' %>
<%= f.text_field :state, :class => 'state' %>
<%= f.text_field :zip, :class => 'zip' %>

<div class='controls'>
<%= f.collection_select :address_type_id, AddressType.all, 
			:id, :code, :include_blank => true %>
	<%= f.submit( (@address.new_record?)? "Create" : "Update" )%>
</div>
