<% stylesheets('edit_address') %>
<% render 'subjects/submenu', :subject => @address.subject %>

<%= f.error_messages %>

<%= f.label :line_1 %>
<%= f.text_field :line_1 %>
<%= f.label :line_2 %>
<%= f.text_field :line_2 %>
<%= f.label :city, 'City, State Zip' %>
<%= f.text_field :city %>
<%#= f.text_field :state, :class => 'state' %>
<%= f.select :state,State.abbreviations, {}, :class => 'state' %>
<%= f.text_field :zip, :class => :zip %>

<div class='valid'>
<%= f.label :is_valid, 'Valid?' %>
<%= f.check_box :is_valid %>
<%# 
	Note that these are opposite
	is_valid and why_INvalid
%>
<%= f.label :why_invalid, 'Why?' %>
<%= f.text_field :why_invalid, :class => :why_invalid %>
<span>should add some js to show/hide</span>
</div><!-- class='valid' -->

<div class='verified'>
<%= f.label :is_verified, 'Verified?' %>
<%= f.check_box :is_verified %>
<%= f.label :how_verified, 'How?' %>
<%= f.text_field :how_verified, :class => :how_verified %>
<span>should add some js to show/hide</span>
</div><!-- class='verified' -->

<div class='current_address'>
<%= f.label :current_address %>
<%= f.y_n_dk_select :current_address, { :include_blank => true } %>
</div><!-- class='current_address' -->

<div class='address_at_diagnosis'>
<%= f.label :address_at_diagnosis %>
<%= f.y_n_dk_select :address_at_diagnosis, { :include_blank => true } %>
</div><!-- class='address_at_diagnosis' -->

<div class='controls'>
<%= f.collection_select :address_type_id, AddressType.all, 
			:id, :code, :include_blank => true %>
<%= f.submit( (@address.new_record?)? "Create" : "Update" )%>
<%#= (@address.new_record?)? "&nbsp" : 
	destroy_link_to( "Destroy", address_path(@address) )
%>
</div>
