<% content_for :head, stylesheet_link_tag('he_subjects') %>
<% content_for :main do %>
<div id='submenu'>
	<a>send letters</a>
	<a>returned mail</a>
	<a>enroll subjects</a>
	<a>record outcomes</a>
</div><!-- submenu -->
<% end %>

<% form_tag(update_select_he_enrolls_path, :method => :put ) do %>
	<span>select all</span>
	<span>deselect all</span>
	<span>letter sent on:</span>
	<%= text_field_tag :date %>
	<%= submit_tag 'set date' %>
	<%= submit_tag 'download' %>

<div class='header'>
<div class='checkbox'>&nbsp;</div>
<%= sort_link('ChildID') %>
<%= sort_link('StudyID') %>
<%= sort_link('Priority') %>
<%= sort_link('Last Name') %>
<%= sort_link('First Name') %>
<%= sort_link('Outcome') %>
<%= sort_link('Outcome Date') %>
</div>
<div id='subjects'>
<%= render :partial => 'he/enrolls/subject', :collection => @subjects %>
</div>
<% end %><%# form_tag %>

<%= will_paginate @subjects %>
