<% content_for :head do %>
<%= javascript_include_tag('he_enrolls') %>
<%= stylesheet_link_tag('he_enrolls') %>
<% end %>
<%= render 'submenu' %>

<% form_tag(update_select_he_enrolls_path, :method => :put ) do %>
	<button type='button' id='select_all'>select all</button>
	<button type='button' id='deselect_all'>deselect all</button>
<div class='set_date'>
	<span>letter sent on:</span>
	<%= text_field_tag :date, params[:date] %>
	<%= submit_tag 'set date' %>
	<%= submit_tag 'download' %>
</div>

<div class='header'>
<div class='checkbox'>&nbsp;</div>
<%= sort_link('ChildID') %>
<%= sort_link('StudyID') %>
<%= sort_link('Priority') %>
<%= sort_link('First Name') %>
<%= sort_link('Last Name') %>
<%= sort_link('Outcome') %>
<%= sort_link('Outcome Date') %>
</div>
<div id='subjects'>
<%= render :partial => 'he/enrolls/subject', :collection => @subjects %>
</div>
<% end %><%# form_tag %>

<%= will_paginate @subjects %>
