<% form_for(@home_exposure_questionnaire) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.heq_select :vacuum_has_disposable_bag %>
  </p>
  <p>
    <%= f.heq_select :how_often_vacuumed_12mos %>
  </p>
  <p>
    <%= f.heq_select :shoes_usually_off_inside_12mos %>
  </p>
  <p>
    <%= f.heq_select :someone_ate_meat_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_pan_fried_meat_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_deep_fried_meat_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_oven_fried_meat_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_grilled_meat_outside_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_other_high_temp_cooking_12mos %>
  </p>
  <p>
    <%= f.label :other_type_high_temp_cooking %><br />
    <%= f.text_field :other_type_high_temp_cooking %>
  </p>
  <p>
    <%= f.heq_select :doneness_of_meat_exterior_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_plane_mechanic_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_artist_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_janitor_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_construction_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_dentist_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_electrician_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_engineer_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_farmer_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_gardener_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_lab_worker_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_manufacturer_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_auto_mechanic_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_patient_care_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_agr_packer_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_painter_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_pesticides_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_photographer_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_teacher_12mos %>
  </p>
  <p>
    <%= f.heq_select :job_is_welder_12mos %>
  </p>
  <p>
    <%= f.heq_select :pet_treated_for_fleas_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_pet_treated_for_fleas_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_ant_control_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_ant_control_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_bee_control_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_bee_control_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_indoor_plant_prod_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_indoor_plant_product_12mos %>
  </p>
  <p>
    <%= f.heq_select :treated_other_indoor_pest_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_other_indoor_pest_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_indoor_foggers %>
  </p>
  <p>
    <%= f.heq_select :freq_indoor_foggers_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_pro_pest_inside_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_pro_pest_inside_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_pro_pest_outside_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_used_pro_pest_outside_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_pro_lawn_service_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_pro_lawn_service_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_lawn_products_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_lawn_products_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_slug_control_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_slug_control_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_rat_control_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_rat_control_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_mothballs_12mos %>
  </p>
  <p>
    <%= f.heq_select :cmty_sprayed_moths_12mos %>
  </p>
  <p>
    <%= f.heq_select :cmty_sprayed_medflies_12mos %>
  </p>
  <p>
    <%= f.heq_select :cmty_sprayed_mosquitoes_12mos %>
  </p>
  <p>
    <%= f.heq_select :cmty_sprayed_sharpshooter_12mos %>
  </p>
  <p>
    <%= f.heq_select :cmty_sprayed_moth_12mos %>
  </p>
  <p>
    <%= f.heq_select :cmty_sprayed_other_pest_12mos %>
  </p>
  <p>
    <%= f.label :other_pest_community_sprayed %><br />
    <%= f.text_field :other_pest_community_sprayed %>
  </p>
  <p>
    <%= f.heq_select :type_of_residence %>
  </p>
  <p>
    <%= f.label :other_type_of_residence %><br />
    <%= f.text_field :other_type_of_residence %>
  </p>
  <p>
    <%= f.label :number_of_floors_in_residence %><br />
    <%= f.text_field :number_of_floors_in_residence %>
  </p>
  <p>
    <%= f.label :number_of_stories_in_building %><br />
    <%= f.text_field :number_of_stories_in_building %>
  </p>
  <p>
    <%= f.label :year_home_built %><br />
    <%= f.date_select :year_home_built %>
  </p>
  <p>
    <%= f.label :home_square_footage %><br />
    <%= f.text_field :home_square_footage %>
  </p>
  <p>
    <%= f.label :number_of_rooms_in_residence %><br />
    <%= f.text_field :number_of_rooms_in_residence %>
  </p>
  <p>
    <%= f.heq_select :home_constructed_of %>
  </p>
  <p>
    <%= f.label :other_home_material %><br />
    <%= f.text_field :other_home_material %>
  </p>
  <p>
    <%= f.heq_select :home_has_attached_garage %>
  </p>
  <p>
    <%= f.heq_select :vehicle_in_garage_1mo %>
  </p>
  <p>
    <%= f.heq_select :freq_in_out_garage_1mo %>
  </p>
  <p>
    <%= f.heq_select :home_has_electric_cooling %>
  </p>
  <p>
    <%= f.heq_select :freq_windows_open_cold_mos_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_windows_open_warm_mos_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_electric_heat_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_kerosene_heat_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_radiator_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_gas_heat_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_wood_burning_stove_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_used_heat_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_wood_fireplace_12mos %>
  </p>
  <p>
    <%= f.heq_select :freq_burned_wood_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_fireplace_insert_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_gas_stove_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_gas_dryer_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_gas_water_heater_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_other_gas_appliance_12mos %>
  </p>
  <p>
    <%= f.label :type_of_other_gas_appliance %><br />
    <%= f.text_field :type_of_other_gas_appliance %>
  </p>
  <p>
    <%= f.heq_select :painted_inside_home %>
  </p>
  <p>
    <%= f.heq_select :carpeted_in_home %>
  </p>
  <p>
    <%= f.heq_select :refloored_in_home %>
  </p>
  <p>
    <%= f.heq_select :weather_proofed_home %>
  </p>
  <p>
    <%= f.heq_select :replaced_home_windows %>
  </p>
  <p>
    <%= f.heq_select :roof_work_on_home %>
  </p>
  <p>
    <%= f.heq_select :construction_in_home %>
  </p>
  <p>
    <%= f.heq_select :other_home_remodelling %>
  </p>
  <p>
    <%= f.label :type_other_home_remodelling %><br />
    <%= f.text_field :type_other_home_remodelling %>
  </p>
  <p>
    <%= f.heq_select :regularly_smoked_indoors %>
  </p>
  <p>
    <%= f.heq_select :regularly_smoked_indoors_12mos %>
  </p>
  <p>
    <%= f.heq_select :regularly_smoked_outdoors %>
  </p>
  <p>
    <%= f.heq_select :regularly_smoked_outdoors_12mos %>
  </p>
  <p>
    <%= f.heq_select :used_smokeless_tobacco_12mos %>
  </p>
  <p>
    <%= f.heq_select :qty_of_stuffed_furniture %>
  </p>
  <p>
    <%= f.heq_select :qty_bought_after_2006 %>
  </p>
  <p>
    <%= f.heq_select :furniture_has_exposed_foam %>
  </p>
  <p>
    <%= f.heq_select :home_has_carpets %>
  </p>
  <p>
    <%= f.heq_select :percent_home_with_carpet %>
  </p>
  <p>
    <%= f.heq_select :home_has_televisions %>
  </p>
  <p>
    <%= f.label :number_of_televisions_in_home %><br />
    <%= f.text_field :number_of_televisions_in_home %>
  </p>
  <p>
    <%= f.heq_select :avg_number_hours_tvs_used %>
  </p>
  <p>
    <%= f.heq_select :home_has_computers %>
  </p>
  <p>
    <%= f.label :number_of_computers_in_home %><br />
    <%= f.text_field :number_of_computers_in_home %>
  </p>
  <p>
    <%= f.heq_select :avg_number_hours_computers_used %>
  </p>
  <p>
    <%= f.label :additional_comments %><br />
    <%= f.text_area :additional_comments %>
  </p>

  <p>
    <%= f.submit( (@home_exposure_questionnaire.new_record?)? "Create" : "Update" )%>
  </p>
<% end %>
