<% stylesheets('hx_samples') %>
<%= render 'hx/subjects/subsearch' %>

<div class='header columns'>
<%= sort_link('ChildID') %>
<%= sort_link('StudyID') %>
<%= sort_link('Last Name') %>
<%= sort_link('First Name') %>
<%= sort_link('Kit Sent On') %>
<%= sort_link('Kit Received On') %>
</div>
<div id='subjects'>
<%= render :partial => 'subject', :collection => @subjects %>
</div>

<%= will_paginate @subjects %>
