<% content_tag_for( :tr, guide, :class => 'row' ) do %>
<td><table><tbody><tr>
<td class='controller'>
<%= guide.controller -%>
</td>
<td class='action'>
<%= link_to guide.action, guide -%>
</td>
<td class='manage'>
<%= link_to "View", guide_path(guide) -%>&nbsp;
<%= link_to "Edit", edit_guide_path(guide) -%>&nbsp;
<%= link_to "Destroy", guide_path(guide), 
	:confirm => "Delete '#{guide.controller}/#{guide.action}'?\nAre you sure?", 
	:method => :delete -%>
</td>
</tr></tbody></table></td>
<% end %><!-- class='guide' -->
