<% content_tag_for( :tr, guide, :class => 'row' ) do %>
<td class='controller'>
<%= guide.controller -%>
</td>
<td class='action'>
<%= guide.action -%>
</td>
<td class='manage'>
<%= button_link_to "View", guide_path(guide) -%>&nbsp;
<%= button_link_to "Edit", edit_guide_path(guide) -%>&nbsp;
<% destroy_link_to "Destroy", guide_path(guide) do %>
<%= hidden_field_tag 'confirm', "Destroy guide '#{guide}'?", :id => nil %>
<% end %>
</td>
<% end %><!-- class='guide' -->
