<% stylesheets('home_page_pic') %>

<% form_for(@home_page_pic,:html => { :multipart => true }) do |f| %>
	<%= f.error_messages %>

	<div>
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div>
		<div class='image'>
		<%= f.label :image %><br />
		<%= f.file_field :image %>
		</div>
		<div class='active'>
		<%= f.check_box :active %><%= f.label :active %>
		</div>
	</div>
	<div class='image_preview'>
		<%= image_tag(@home_page_pic.image.url(:full))%>
	</div>
	<div class='caption'>
		<%= f.label :caption %><br />
		<%= f.text_area :caption %>
	</div>
	<p>
		<%= f.submit( (@home_page_pic.new_record?)? "Create" : "Update" )%>
	</p>
<% end %>
