<% stylesheets('home_exposure_responses') %>
<% sub_menu_for(@subject.hx_interview) %>
<% id_bar_for(@subject) %>

<h1>Merge Survey Data</h1>

<%
	q_and_a_codes = [
		@response_sets[0].q_and_a_codes_as_attributes,
		@response_sets[1].q_and_a_codes_as_attributes
	]
	c_and_t = [
		@response_sets[0].codes_and_text,
		@response_sets[1].codes_and_text
	]
%>

<% form_for HomeExposureResponse.new, 
	:url => subject_home_exposure_response_path(@subject) do |f| %>
<table>
<tbody>
<% HomeExposureResponse.field_names.each do |column| %>
<%	classes = ['row'];
		classes.push('diff') if (@diffs[column])
%>
	<% content_tag( :tr, :class => classes.join(' ') ) do %>
		<td><%=column.titleize-%></td>
		<td>

<% if @diffs[column] %>
	<%= f.radio_button( column, c_and_t[0][column][:a_code] ) %>
	<%= f.label( column, c_and_t[0][column][:a_text],
		:value => c_and_t[0][column][:a_code]  ) %>
<br/>
	<%= f.radio_button( column, c_and_t[1][column][:a_code],
		:checked => true ) %>
	<%= f.label( column, c_and_t[1][column][:a_text],
		:value => c_and_t[1][column][:a_code] ) %>
<% else %>
	<%= f.text_field column, :value => c_and_t[0][column][:a_code],
		:readonly => true %>
	<%= f.label( column, c_and_t[0][column][:a_text] ) %>
<% end %>

		</td>
	<% end %><%# content_tag %>
<% end %><%# HomeExposureResponse.q_column_names.each %>
</tbody></table>
<p><%= 
	f.submit "Create HER from selections", :name => nil, :id => nil 
%></p>
<% end %><%# form_for %>
