<%= content_for :head, stylesheet_link_tag('home_exposure_responses') %>
<h1>Merge Survey Data</h1>

<p>Subject id: <%=@subject.id%></p>

<table><thead>
<tr>
	<th colspan='2'>Responses</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th>1</th>
	<th>2</th>
	<th>column</th>
</tr>
</thead><tbody>
<% HomeExposureResponse.q_column_names.each do |column| %>
	<tr>
		<td><%= @subject.response_sets[0].q_and_a_codes_as_attributes[column]-%></td>
		<td><%= @subject.response_sets[1].q_and_a_codes_as_attributes[column]-%></td>
		<td><%=column-%></td>
	</tr>
<% end %>
<tfoot>
<tr>
<td><% form_tag subject_home_exposure_response_path(@subject) do %>
<%= hidden_field_tag :response_set_id, @subject.response_sets[0].id %>
<%= submit_tag "HER from Survey 1", :id => nil, :name => nil %>
<% end %></td>
<td><% form_tag subject_home_exposure_response_path(@subject) do %>
<%= hidden_field_tag :response_set_id, @subject.response_sets[1].id %>
<%= submit_tag "HER from Survey 2", :id => nil, :name => nil %>
<% end %></td>
<td></td>
</tr>
</tfoot>
</tbody></table>
