<%= content_for :head, stylesheet_link_tag('home_exposure_responses') %>
<h1>Merge Survey Data</h1>

<p>Subject id: <%=@subject.id%></p>

<table><thead>
<tr>
	<th colspan='2'>Responses</th>
	<th>&nbsp;</th>
</tr>
<tr>
	<th>1</th>
	<th>2</th>
	<th>column</th>
</tr>
</thead>
<tfoot><%# tfoot needs to be declared BEFORE tbody %>
<tr>
<% @response_sets.each do |rs| %>
<td><% form_tag subject_home_exposure_response_path(@subject) do %>
<%= hidden_field_tag :response_set_id, rs.id, :id => nil %>
<%= submit_tag "HER from this Survey", :id => nil, :name => nil %>
<% end %></td>
<% end %>
<td></td>
</tr>
</tfoot>
<tbody>
<% HomeExposureResponse.q_column_names.each do |column| %>
	<tr>
<%#



	set these q and a codes rather that continually calling the method



%>
		<td><%= @response_sets[0].q_and_a_codes_as_attributes[column]-%></td>
		<td><%= @response_sets[1].q_and_a_codes_as_attributes[column]-%></td>
		<td><%=column-%></td>
	</tr>
<% end %>
</tbody>
</table>
