<%= content_for :head, stylesheet_link_tag('home_exposure_responses') %>
<h1>Merge Survey Data</h1>

<p>Subject id: <%=@subject.id%></p>

<%
	q_and_a_codes = [
		@response_sets[0].q_and_a_codes_as_attributes,
		@response_sets[1].q_and_a_codes_as_attributes
	]
%>


<% form_for HomeExposureResponse.new, 
	:url => subject_home_exposure_response_path(@subject) do |f| %>
<table>
<!--
<thead>
</thead>
<tfoot>
</tfoot>
-->
<tbody>
<% HomeExposureResponse.q_column_names.each do |column| %>
	<% content_tag( :tr, :class => ((@diffs[column])?'diff':'') ) do %>
		<td><%=column-%></td>
		<td>
<% if @diffs[column] %>
<%# if q_and_a_codes.collect{|rs|rs[column]}.compact.length > 1 %>
<%= f.radio_button( column, q_and_a_codes[0][column]||'' ) %>
<%= f.label( column, (q_and_a_codes[0][column]||'&nbsp;') ) %><br/>
<%= f.radio_button( column, q_and_a_codes[1][column]||'',
	:checked => true ) %>
<%= f.label( column, (q_and_a_codes[1][column]||'&nbsp;') ) %>
<%# else %>
<%# val=q_and_a_codes.collect{|rs|rs[column]}.compact.first %>
<%#= f.check_box( column, {}, val, nil ) %>
<%#= f.label( column, val ) %>
<%# end %>
<% else %>
<%= f.text_field column, :value => q_and_a_codes[0][column],
	:readonly => 'readonly', :disabled => 'disabled' %>
<% end %>
		</td>
	<% end %><%# content_tag %>
<% end %><%# HomeExposureResponse.q_column_names.each %>
</tbody></table>
<p><%= f.submit "Create HER from selections", :name => nil, :id => nil %></p>
<% end %><%# form_for %>
