<p>
  <b>Vacuum has disposable bag:</b>
  <%=h @home_exposure_response.vacuum_has_disposable_bag %>
</p>

<p>
  <b>How often vacuumed 12mos:</b>
  <%=h @home_exposure_response.how_often_vacuumed_12mos %>
</p>

<p>
  <b>Shoes usually off inside 12mos:</b>
  <%=h @home_exposure_response.shoes_usually_off_inside_12mos %>
</p>

<p>
  <b>Someone ate meat 12mos:</b>
  <%=h @home_exposure_response.someone_ate_meat_12mos %>
</p>

<p>
  <b>Freq pan fried meat 12mos:</b>
  <%=h @home_exposure_response.freq_pan_fried_meat_12mos %>
</p>

<p>
  <b>Freq deep fried meat 12mos:</b>
  <%=h @home_exposure_response.freq_deep_fried_meat_12mos %>
</p>

<p>
  <b>Freq oven fried meat 12mos:</b>
  <%=h @home_exposure_response.freq_oven_fried_meat_12mos %>
</p>

<p>
  <b>Freq grilled meat outside 12mos:</b>
  <%=h @home_exposure_response.freq_grilled_meat_outside_12mos %>
</p>

<p>
  <b>Freq other high temp cooking 12mos:</b>
  <%=h @home_exposure_response.freq_other_high_temp_cooking_12mos %>
</p>

<p>
  <b>Other type high temp cooking:</b>
  <%=h @home_exposure_response.other_type_high_temp_cooking %>
</p>

<p>
  <b>Doneness of meat exterior 12mos:</b>
  <%=h @home_exposure_response.doneness_of_meat_exterior_12mos %>
</p>

<p>
  <b>Job is plane mechanic 12mos:</b>
  <%=h @home_exposure_response.job_is_plane_mechanic_12mos %>
</p>

<p>
  <b>Job is artist 12mos:</b>
  <%=h @home_exposure_response.job_is_artist_12mos %>
</p>

<p>
  <b>Job is janitor 12mos:</b>
  <%=h @home_exposure_response.job_is_janitor_12mos %>
</p>

<p>
  <b>Job is construction 12mos:</b>
  <%=h @home_exposure_response.job_is_construction_12mos %>
</p>

<p>
  <b>Job is dentist 12mos:</b>
  <%=h @home_exposure_response.job_is_dentist_12mos %>
</p>

<p>
  <b>Job is electrician 12mos:</b>
  <%=h @home_exposure_response.job_is_electrician_12mos %>
</p>

<p>
  <b>Job is engineer 12mos:</b>
  <%=h @home_exposure_response.job_is_engineer_12mos %>
</p>

<p>
  <b>Job is farmer 12mos:</b>
  <%=h @home_exposure_response.job_is_farmer_12mos %>
</p>

<p>
  <b>Job is gardener 12mos:</b>
  <%=h @home_exposure_response.job_is_gardener_12mos %>
</p>

<p>
  <b>Job is lab worker 12mos:</b>
  <%=h @home_exposure_response.job_is_lab_worker_12mos %>
</p>

<p>
  <b>Job is manufacturer 12mos:</b>
  <%=h @home_exposure_response.job_is_manufacturer_12mos %>
</p>

<p>
  <b>Job auto mechanic 12mos:</b>
  <%=h @home_exposure_response.job_auto_mechanic_12mos %>
</p>

<p>
  <b>Job is patient care 12mos:</b>
  <%=h @home_exposure_response.job_is_patient_care_12mos %>
</p>

<p>
  <b>Job is agr packer 12mos:</b>
  <%=h @home_exposure_response.job_is_agr_packer_12mos %>
</p>

<p>
  <b>Job is painter 12mos:</b>
  <%=h @home_exposure_response.job_is_painter_12mos %>
</p>

<p>
  <b>Job is pesticides 12mos:</b>
  <%=h @home_exposure_response.job_is_pesticides_12mos %>
</p>

<p>
  <b>Job is photographer 12mos:</b>
  <%=h @home_exposure_response.job_is_photographer_12mos %>
</p>

<p>
  <b>Job is teacher 12mos:</b>
  <%=h @home_exposure_response.job_is_teacher_12mos %>
</p>

<p>
  <b>Job is welder 12mos:</b>
  <%=h @home_exposure_response.job_is_welder_12mos %>
</p>

<p>
  <b>Used flea control 12mos:</b>
  <%=h @home_exposure_response.used_flea_control_12mos %>
</p>

<p>
  <b>Freq flea control 12mos:</b>
  <%=h @home_exposure_response.freq_used_flea_control_12mos %>
</p>

<p>
  <b>Used ant control 12mos:</b>
  <%=h @home_exposure_response.used_ant_control_12mos %>
</p>

<p>
  <b>Freq ant control 12mos:</b>
  <%=h @home_exposure_response.freq_ant_control_12mos %>
</p>

<p>
  <b>Used bee control 12mos:</b>
  <%=h @home_exposure_response.used_bee_control_12mos %>
</p>

<p>
  <b>Freq bee control 12mos:</b>
  <%=h @home_exposure_response.freq_bee_control_12mos %>
</p>

<p>
  <b>Used indoor plant prod 12mos:</b>
  <%=h @home_exposure_response.used_indoor_plant_prod_12mos %>
</p>

<p>
  <b>Freq indoor plant product 12mos:</b>
  <%=h @home_exposure_response.freq_indoor_plant_product_12mos %>
</p>

<p>
  <b>Used other indoor product 12mos:</b>
  <%=h @home_exposure_response.used_other_indoor_product_12mos %>
</p>

<p>
  <b>Freq other indoor product 12mos:</b>
  <%=h @home_exposure_response.freq_other_indoor_product_12mos %>
</p>

<p>
  <b>Used indoor foggers:</b>
  <%=h @home_exposure_response.used_indoor_foggers %>
</p>

<p>
  <b>Freq indoor foggers 12mos:</b>
  <%=h @home_exposure_response.freq_indoor_foggers_12mos %>
</p>

<p>
  <b>Used pro pest inside 12mos:</b>
  <%=h @home_exposure_response.used_pro_pest_inside_12mos %>
</p>

<p>
  <b>Freq pro pest inside 12mos:</b>
  <%=h @home_exposure_response.freq_pro_pest_inside_12mos %>
</p>

<p>
  <b>Used pro pest outside 12mos:</b>
  <%=h @home_exposure_response.used_pro_pest_outside_12mos %>
</p>

<p>
  <b>Freq used pro pest outside 12mos:</b>
  <%=h @home_exposure_response.freq_used_pro_pest_outside_12mos %>
</p>

<p>
  <b>Used pro lawn service 12mos:</b>
  <%=h @home_exposure_response.used_pro_lawn_service_12mos %>
</p>

<p>
  <b>Freq pro lawn service 12mos:</b>
  <%=h @home_exposure_response.freq_pro_lawn_service_12mos %>
</p>

<p>
  <b>Used lawn products 12mos:</b>
  <%=h @home_exposure_response.used_lawn_products_12mos %>
</p>

<p>
  <b>Freq lawn products 12mos:</b>
  <%=h @home_exposure_response.freq_lawn_products_12mos %>
</p>

<p>
  <b>Used slug control 12mos:</b>
  <%=h @home_exposure_response.used_slug_control_12mos %>
</p>

<p>
  <b>Freq slug control 12mos:</b>
  <%=h @home_exposure_response.freq_slug_control_12mos %>
</p>

<p>
  <b>Used rat control 12mos:</b>
  <%=h @home_exposure_response.used_rat_control_12mos %>
</p>

<p>
  <b>Freq rat control 12mos:</b>
  <%=h @home_exposure_response.freq_rat_control_12mos %>
</p>

<p>
  <b>Used mothballs 12mos:</b>
  <%=h @home_exposure_response.used_mothballs_12mos %>
</p>

<p>
  <b>Cmty sprayed gypsy moths 12mos:</b>
  <%=h @home_exposure_response.cmty_sprayed_gypsy_moths_12mos %>
</p>

<p>
  <b>Cmty sprayed medflies 12mos:</b>
  <%=h @home_exposure_response.cmty_sprayed_medflies_12mos %>
</p>

<p>
  <b>Cmty sprayed mosquitoes 12mos:</b>
  <%=h @home_exposure_response.cmty_sprayed_mosquitoes_12mos %>
</p>

<p>
  <b>Cmty sprayed sharpshooters 12mos:</b>
  <%=h @home_exposure_response.cmty_sprayed_sharpshooters_12mos %>
</p>

<p>
  <b>Cmty sprayed apple moth 12mos:</b>
  <%=h @home_exposure_response.cmty_sprayed_apple_moths_12mos %>
</p>

<p>
  <b>Cmty sprayed other pest 12mos:</b>
  <%=h @home_exposure_response.cmty_sprayed_other_pest_12mos %>
</p>

<p>
  <b>Other pest community sprayed:</b>
  <%=h @home_exposure_response.other_pest_community_sprayed %>
</p>

<p>
  <b>Type of residence:</b>
  <%=h @home_exposure_response.type_of_residence %>
</p>

<p>
  <b>Other type of residence:</b>
  <%=h @home_exposure_response.other_type_of_residence %>
</p>

<p>
  <b>Number of floors in residence:</b>
  <%=h @home_exposure_response.number_of_floors_in_residence %>
</p>

<p>
  <b>Number of stories in building:</b>
  <%=h @home_exposure_response.number_of_stories_in_building %>
</p>

<p>
  <b>Year home built:</b>
  <%=h @home_exposure_response.year_home_built %>
</p>

<p>
  <b>Home square footage:</b>
  <%=h @home_exposure_response.home_square_footage %>
</p>

<p>
  <b>Number of rooms in home:</b>
  <%=h @home_exposure_response.number_of_rooms_in_home %>
</p>

<p>
  <b>Home constructed of:</b>
  <%=h @home_exposure_response.home_constructed_of %>
</p>

<p>
  <b>Other home material:</b>
  <%=h @home_exposure_response.other_home_material %>
</p>

<p>
  <b>Home has attached garage:</b>
  <%=h @home_exposure_response.home_has_attached_garage %>
</p>

<p>
  <b>Vehicle in garage 1mo:</b>
  <%=h @home_exposure_response.vehicle_in_garage_1mo %>
</p>

<p>
  <b>Freq in out garage 1mo:</b>
  <%=h @home_exposure_response.freq_in_out_garage_1mo %>
</p>

<p>
  <b>Home has electric cooling:</b>
  <%=h @home_exposure_response.home_has_electric_cooling %>
</p>

<p>
  <b>Freq windows open cold mos 12mos:</b>
  <%=h @home_exposure_response.freq_windows_open_cold_mos_12mos %>
</p>

<p>
  <b>Freq windows open warm mos 12mos:</b>
  <%=h @home_exposure_response.freq_windows_open_warm_mos_12mos %>
</p>

<p>
  <b>Used electric heat 12mos:</b>
  <%=h @home_exposure_response.used_electric_heat_12mos %>
</p>

<p>
  <b>Used kerosene heat 12mos:</b>
  <%=h @home_exposure_response.used_kerosene_heat_12mos %>
</p>

<p>
  <b>Used radiator 12mos:</b>
  <%=h @home_exposure_response.used_radiator_12mos %>
</p>

<p>
  <b>Used gas heat 12mos:</b>
  <%=h @home_exposure_response.used_gas_heat_12mos %>
</p>

<p>
  <b>Used wood burning stove 12mos:</b>
  <%=h @home_exposure_response.used_wood_burning_stove_12mos %>
</p>

<p>
  <b>Freq used wood stove 12mos:</b>
  <%=h @home_exposure_response.freq_used_wood_stove_12mos %>
</p>

<p>
  <b>Used wood fireplace 12mos:</b>
  <%=h @home_exposure_response.used_wood_fireplace_12mos %>
</p>

<p>
  <b>Freq used wood fireplace 12mos:</b>
  <%=h @home_exposure_response.freq_used_wood_fireplace_12mos %>
</p>

<p>
  <b>Used fireplace insert 12mos:</b>
  <%=h @home_exposure_response.used_fireplace_insert_12mos %>
</p>

<p>
  <b>Used gas stove 12mos:</b>
  <%=h @home_exposure_response.used_gas_stove_12mos %>
</p>

<p>
  <b>Used gas dryer 12mos:</b>
  <%=h @home_exposure_response.used_gas_dryer_12mos %>
</p>

<p>
  <b>Used gas water heater 12mos:</b>
  <%=h @home_exposure_response.used_gas_water_heater_12mos %>
</p>

<p>
  <b>Used other gas appliance 12mos:</b>
  <%=h @home_exposure_response.used_other_gas_appliance_12mos %>
</p>

<p>
  <b>Type of other gas appliance:</b>
  <%=h @home_exposure_response.type_of_other_gas_appliance %>
</p>

<p>
  <b>Painted inside home:</b>
  <%=h @home_exposure_response.painted_inside_home %>
</p>

<p>
  <b>Carpeted in home:</b>
  <%=h @home_exposure_response.carpeted_in_home %>
</p>

<p>
  <b>Refloored in home:</b>
  <%=h @home_exposure_response.refloored_in_home %>
</p>

<p>
  <b>Weather proofed home:</b>
  <%=h @home_exposure_response.weather_proofed_home %>
</p>

<p>
  <b>Replaced home windows:</b>
  <%=h @home_exposure_response.replaced_home_windows %>
</p>

<p>
  <b>Roof work on home:</b>
  <%=h @home_exposure_response.roof_work_on_home %>
</p>

<p>
  <b>Construction in home:</b>
  <%=h @home_exposure_response.construction_in_home %>
</p>

<p>
  <b>Other home remodelling:</b>
  <%=h @home_exposure_response.other_home_remodelling %>
</p>

<p>
  <b>Type other home remodelling:</b>
  <%=h @home_exposure_response.type_other_home_remodelling %>
</p>

<p>
  <b>Regularly smoked indoors:</b>
  <%=h @home_exposure_response.regularly_smoked_indoors %>
</p>

<p>
  <b>Regularly smoked indoors 12mos:</b>
  <%=h @home_exposure_response.regularly_smoked_indoors_12mos %>
</p>

<p>
  <b>Regularly smoked outdoors:</b>
  <%=h @home_exposure_response.regularly_smoked_outdoors %>
</p>

<p>
  <b>Regularly smoked outdoors 12mos:</b>
  <%=h @home_exposure_response.regularly_smoked_outdoors_12mos %>
</p>

<p>
  <b>Used smokeless tobacco 12mos:</b>
  <%=h @home_exposure_response.used_smokeless_tobacco_12mos %>
</p>

<p>
  <b>Qty of upholstered furniture:</b>
  <%=h @home_exposure_response.qty_of_upholstered_furniture %>
</p>

<p>
  <b>Qty bought after 2006:</b>
  <%=h @home_exposure_response.qty_bought_after_2006 %>
</p>

<p>
  <b>Furniture has exposed foam:</b>
  <%=h @home_exposure_response.furniture_has_exposed_foam %>
</p>

<p>
  <b>Home has carpets:</b>
  <%=h @home_exposure_response.home_has_carpets %>
</p>

<p>
  <b>Percent home with carpet:</b>
  <%=h @home_exposure_response.percent_home_with_carpet %>
</p>

<p>
  <b>Home has televisions:</b>
  <%=h @home_exposure_response.home_has_televisions %>
</p>

<p>
  <b>Number of televisions in home:</b>
  <%=h @home_exposure_response.number_of_televisions_in_home %>
</p>

<p>
  <b>Avg number hours tvs used:</b>
  <%=h @home_exposure_response.avg_number_hours_tvs_used %>
</p>

<p>
  <b>Home has computers:</b>
  <%=h @home_exposure_response.home_has_computers %>
</p>

<p>
  <b>Number of computers in home:</b>
  <%=h @home_exposure_response.number_of_computers_in_home %>
</p>

<p>
  <b>Avg number hours computers used:</b>
  <%=h @home_exposure_response.avg_number_hours_computers_used %>
</p>

<p>
  <b>Additional comments:</b>
  <%=h @home_exposure_response.additional_comments %>
</p>

