<div id='footer'>
<div class='main_width'>
<p>
<%= link_to 'Pages', pages_path %>&nbsp;|&nbsp;
<%= link_to 'Calendar', calendar_path %>&nbsp;|&nbsp;
<%= link_to 'Users', users_path %>&nbsp;|&nbsp;
<%= link_to 'Packages', packages_path %>&nbsp;|&nbsp;
<%= link_to 'Subjects', subjects_path %>&nbsp;|&nbsp;
<%= link_to 'HomePagePics', home_page_pics_path %>
<% if logged_in? %>
	&nbsp;|&nbsp;
	<%= link_to "My Account", user_path(current_user) %>
	&nbsp;|&nbsp;
	<%= link_to "Logout", logout_path %>
<% end %>
</p>
</div>
<div class='main_width'>
<p>
<span>Copyright &copy; UC Regents; all rights reserved.</span>
&nbsp;|&nbsp;
<%= link_to "Terms of Service", "/terms" %>
&nbsp;|&nbsp;
<%= link_to "Privacy Policy", "/privacy" %>
&nbsp;|&nbsp;
<% if session[:locale] && session[:locale] == 'es' %>
	<%= link_to 'English', locale_path('en') %>
<% else %>
	<%= link_to 'Espa&ntilde;ol', locale_path('es') %>
<% end %>
</p>
</div>
</div><!-- footer -->
