<div id='head'>
<div id='rootmenu'>
<%# For the menuing system to work, we need a page %>
<%
	@page ||= Page.find_by_path("/" << controller.controller_name)
	@page ||= Page.find_by_path("/" << controller.controller_name.singularize)
%>
<%# Page changes outside of ActionController go unnoticed %>
<%# Due to the variability of the menu, we can't really cache it %>
<%# cache 'page_menu' do %>
<% 
	count = Page.roots.count
	count = ( count > 0 ) ? count : 1
	width = ( 900 - count ) / count
%>
<% Page.roots.each do |page| -%>
	<%= link_to page.menu, page.path, 
		:style => "width: #{width}px",
		:class => ((page == @page.try(:root))?'current':nil)  %>
<% end -%>
<%# end %>

</div><!-- id='headmenu' -->
<% if @page && !@page.root.children.empty? %>
	<div id='submenu'><div id='current_root'><%= @page.root.title %></div>
	<div id='children'>
	<% @page.root.children.each do |child| %>
	<span class='child<%=(@page==child)?" current_child":""-%>'><%= link_to child.title, child.path %></span>
	<% end %>
</div><!-- id='children'  -->
</div><!-- id='submenu'  -->
<% end %>
</div><!-- id='head'  -->

<% if @page && @page.is_home? %>
<div id='home_page_pic'>
<%= image_tag HomePagePic.first(:conditions => { 
		:active => true }).image.url(:full) %>
</div>
<% end %>
