<div id='left_margin'>
<div id='appmenu'>
  <%#= link_to "Home",  root_path %>
  <%#= link_to "About", "/about" %>

<%# Page changes outside of ActionController go unnoticed %>
<% cache 'page_menu' do %>
<% Page.all.each do |page| %>
	<%= link_to page.menu, page.path %>
<% end %>
<% end %>

<% if logged_in? %>
  <%= link_to("Calendar",calendar_path) if current_user.may_view_calendar? %>
  <%= link_to "Subjects", subjects_path if current_user.may_view_subjects? %>
	<% if current_user.is_admin? %>
  <%= link_to "Packages", packages_path %>
  <%= link_to "Pages", pages_path %>
  <%= link_to "Users", users_path %>
  <%= link_to "Documentation", '/doc/app/index.html' %>
	<% end %>
<% end %>
</div><!-- id='menu' -->
<div id='ads'>
  <%= link_to image_tag('clic_logo.gif'), 'http://clic.berkeley.edu',
		:target => :new %>
  <%= link_to image_tag('bethematch.gif'), 'http://www.marrow.org',
		:target => :new %>
</div><!-- id='ads'  -->
</div><!-- id='left_margin'  -->
