<div id='appmenu'>
  <%#= link_to "Home",  root_path %>
  <%#= link_to "About", "/about" %>

<%# Page changes outside of ActionController go unnoticed %>
<% cache 'page_menu' do %>
<% Page.all.each do |page| %>
	<%= link_to page.menu, page.path %>
<% end %>
<% end %>

<% if logged_in? %>
  <%= link_to("Calendar",calendar_path) if current_user.may_view_calendar? %>
	<% if current_user.is_admin? %>
  <%= link_to "Packages", packages_path %>
  <%= link_to "Pages", pages_path %>
  <%= link_to "Users", users_path %>
  <%#= link_to "Deputies", deputies_path %>
  <%= link_to "Permissions", permissions_path %>
  <%= link_to "Documentation", '/doc/app/index.html' %>
  <%= link_to "Subjects", subjects_path %>
	<% end %>
<% end %>
</div><!-- menu -->
