<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link rel="shortcut icon" href="<%=image_path('cal.ico')%>" />
<title><%= @page_title || "UCB SPH CCLS" -%></title>
<%= stylesheet_link_tag :defaults %>
<%#= stylesheet_link_tag 'home_exposure','scaffold' %>
<%#= stylesheet_link_tag 'base/jquery.ui.all.css' %>
<%#= stylesheet_link_tag controller.controller_name %>
<%= javascript_include_tag :defaults %>
<%= yield :head %>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', <%="'UA-17648061-#{(Rails.env=='production')?'11':'8'}'"-%>]);
	_gaq.push(['_trackPageview']);

	(function(){
		var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; 
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 
			'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; 
		s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>
<body>
<div id='container'>
<div id='header'>
<div id='logo'>
<h2>Home Exposures</h2>
<span>a California Childhood Leukemia Study</span>
</div>
<div id='minimenu'>
 <%= link_to "Home", root_path %>&nbsp;|&nbsp;
 <%= link_to 'Reports', reports_path %>&nbsp;|&nbsp;
 <%= link_to 'FAQs', faqs_path %>
 <% if logged_in? %>
  &nbsp;|&nbsp;<%= link_to 'Logout', logout_path %>
 <% end %>
</div><!-- minimenu -->
<%= render 'layouts/subjects_search' %>
<%= home_exposure_main_menu() %>
</div><!-- header -->
<div id='columns' class='equal_height_column_wrapper'>
<div id='main' class='equal_height_column'>
<%= yield :main %>
<%#

For some reason, still need this equal_height_column
I thought that it was just evil floats, but it may be more.

%>
<div id='content_wrapper' class='equal_height_column'>
<div id='content'>
<%= flasher() %>
<%= yield %>
</div><!-- content -->
<%= yield :content_bottom %>
</div><!-- content_wrapper -->
</div><!-- main -->
<%= render 'layouts/guidance' %>
</div><!-- columns -->
<div id='footer'>
<p>
<small>2010 California Childhood Leukemia Study, UC Berkeley School of Public Health</small>
</p>
</div><!-- footer -->
</div><!-- container -->
</body>
</html>
