<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= @page_title || "UCB SPH CCLS" -%></title>
<%= stylesheet_link_tag 'application' %>
<%#= stylesheet_link_tag controller.controller_name %>
<%= javascript_include_tag :defaults %>
</head>
<body>

<div id='container'>
<center><p>
<% if logged_in? -%>
Welcome back, <%= current_user.displayname -%>
 [ <%= link_to "Logout", logout_path %> ] 
<% else %>
You have not yet been authenticated.
 [ <%= link_to "Login", @login_url %> ] 
<% end -%>
</p></center>

<% flash.each do |key, msg| %>
 <%= content_tag :p, msg, :id => key, :class => 'flash' %>
<% end %>
<noscript>
<p id='noscript' class='flash'>Dude, seriously?  Javascript is required for this site to be fully functional.</p>
</noscript>

<div id='menu'>
  <%= link_to "Home",  root_path %>
	<% if logged_in? and current_user.is_admin? %>
  <%= link_to "Pages**", pages_path %>
  <%= link_to "Users**", users_path %>
  <%= link_to "Deputies**", deputies_path %>
	<% end %>
</div><!-- menu -->
<div id='content'>
<%= yield %>
</div><!-- content -->

</div><!-- container -->
</body>
</html>
