<%= render 'layouts/head' %>
<body>
 <div id='container'>
  <div id='header'>
   <div id='logo'>
    <h2>Home Exposures</h2>
    <span>a California Childhood Leukemia Study</span>
   </div>
   <div id='minimenu'>
    <%= link_to "Home", root_path %>&nbsp;|&nbsp;
    <%= link_to 'Reports', reports_path %>&nbsp;|&nbsp;
    <%= link_to 'FAQs', faqs_path %>
    <% if logged_in? %>
     &nbsp;|&nbsp;<%= link_to 'Logout', logout_path %>
    <% end %>
   </div><!-- minimenu -->
   <%= render 'layouts/study_subjects_search' %>
   <%= home_exposure_main_menu() %>
  </div><!-- header -->
 
  <div id='column_wrapper' class='table'>
  <div id='columns' class='columns'>
   <div id='main'>
    <%= yield :main %>
    <div id='content'>
     <%= flasher() %>
     <%= yield %>
    </div><!-- content -->
    <%= yield :content_bottom %>
   </div><!-- main -->
   <%= render 'layouts/guidance' %>
  </div><!-- columns -->
  </div><!-- id='column_wrapper' -->
 
  <div id='footer'>
   <p><small>
    2010 California Childhood Leukemia Study, UC Berkeley School of Public Health
   </small></p>
  </div><!-- footer -->
 </div><!-- container -->
</body>
</html>
